#floorplan-wrapper {
  user-select: none;
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 0;
  z-index: 1000;
  width: 250px;
  height:250px;
}

@media only screen and (max-width: 800px) {
  #floorplan-wrapper {
    width: 100px;
    height: 100px;
  }
}

img#floorplan {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  float: right;
}

#floorplan-camera-icon {
 width:50px;
 width:50px;
 position: absolute;
 transition-property: right, top;
 transition-duration: 0.5s, 0.5s;
}
